{% extends "layout.html" %}
{% load static i18n %}

{% block title %} Войти {% endblock %}

{% block extrahead %}
<style>
a.nav-link{
    background-color: initial!important;
    color: var(--primary)!important;
}
a.nav-link.active{
    color:red;
}
* {
  box-sizing: border-box;
}
.nav-link{
    border-bottom: 2px;
    padding-bottom: 10px;
}
.nav-link.active{
    text-decoration: none;
    cursor: default;
    border-bottom: 2px solid tomato;
    padding-bottom: 10px;
    transition: ease .25s;
}

.main-container{
    max-width: 500px;
    box-shadow: 0px 0px 5px 0px;
}

</style>
{% endblock %}


{% block body %}
<div class="container mt-3 py-2 bg-white main-container">

    <ul class="nav nav-pills nav-fill mb-3 text-center" id="pills-tab" role="tablist">
        <li class="nav-item nav-link">
            <a class="nav-link active" id="login-tab" data-toggle="pill" href="#login" role="tab"
                aria-controls="login" aria-selected="true">Войти</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" id="register-tab" data-toggle="pill" href="#register" role="tab"
                aria-controls="register" aria-selected="false">Зарегистрироваться</a>
        </li>
        <!-- TODO: pretty slider -->
        <hr>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <!-- Errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Login -->
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <h2 class="text-center mt-2 mb-4">Войти</h2>
            <form action="" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Электронная почта</label>
                    <input type="email" name="email" class="form-control" value="{% firstof form.email.value '' %}" placeholder="john@gmail.com" required>
                </div>

                <div class="mb-3">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" placeholder="********" required>
                </div>

                <div class="text-center">
                    <input type="submit" value="Войти" class="btn btn-success mt-3 mb-2 px-3 py-2">
                </div>
            </form>
        </div>

        <!-- Register -->
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <h2 class="text-center mt-2 mb-4">Зарегистрироваться</h2>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="register" value="1">

                <div class="mb-3">
                    <label>Электронная почта</label>
                    <input type="email" name="email" class="form-control" value="{% firstof form.email.value '' %}" placeholder="john@gmail.com" required>
                </div>

                <div class="mb-3">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" class="form-control" value="{% firstof form.username.value '' %}" placeholder="johnuser123" required>
                </div>

                <div class="mb-3">
                    <label>Ваше имя</label>
                    <input type="text" name="first_name" class="form-control" value="{% firstof form.first_name.value '' %}" placeholder="John" required>
                </div>

                <div class="mb-3">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" placeholder="********" required>
                </div>

                <div class="mb-3">
                    <label>Повторите пароль</label>
                    <input type="password" name="password2" class="form-control" placeholder="********" required>
                </div>

                <div class="text-center">
                    <input type="submit" value="Войти" class="btn btn-success mt-3 mb-2 px-3 py-2">
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="text-center mb-2">
        <a href="">Забыли пароль?</a>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<!-- Remember last tab -->

<script>
    $(document).ready(()=>{
        var pills = $('a[data-toggle="pill"]')

        pills.on('show.bs.tab', function (e) {
            location.hash = $(e.target).attr('href')
        });
        var activeTab = location.hash
        if (activeTab) {
            console.debug("Active tab:", activeTab)
            tab = $('#pills-tab a[href="' + activeTab + '"]')
            tab.tab('show');
        }
    })
</script>
{% endblock %}