{% extends "layout.html" %}
{% load static i18n  %}

{% block title %} Сброс пароля {% endblock %}

{% block extrahead %}
{% endblock %}


{% block body %}
    <div class="container mt-3 py-3">
        <h2 class="text-center my-5">Сброс пароля</h2>
        <form action="" method="post" style="max-width:500px" class="my-4 mx-auto">
            {% csrf_token %}
            <div class="form-group">
                <label>Ваш Email
                    <dfn class="help" title="(на него придет ссылка для сброса пароля)">
                        <i class="fa fa-question text-primary ml-2"></i>
                    </dfn>
                </label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="text-center mt-3 mb-2">
                <input type="submit" value="Сбросить пароль" class="btn btn-success">
            </div>
        </form>
    </div>
{% endblock %}


{% block extrabody %}
{% endblock %}