{% extends "layout.html" %}
{% load static i18n %}

{% block title %} Личный кабинет {% endblock %}

{% block head %}
{% endblock %}


{% block body %}
<div class="container my-md-3 py-3 bg-white">
    <nav>
        <div class="nav nav-tabs" id="pills-tab" role="tablist">
            <a class="nav-item nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="true">Профиль</a>
            <a class="nav-item nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab"
                aria-controls="files" aria-selected="false">Мои файлы</a>
        </div>
    </nav>
    <!-- Tab contents -->

    <div class="tab-content" id="nav-tabContent">

        <!-- Tab profile -->
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2 class="text-center mb-5 mt-2">Профиль "{% firstof user.first_name user.username user.email%}"</h2>

            <div class="stats" style="max-width:450px;">
                <div class="row">
                    <div class="col">Email:</div>
                    <div class="col"><b>{{user.email}}</b></div>
                </div>
                <div class="row">
                    <div class="col">Email подтвержден:</div>
                    <div class="col"><b>{%if user.email_confirmed%}<span class="text-success">Да</span>{%else%}<span class="text-warning">Нет</span>{%endif%}</b></div>
                </div>
                <div class="row">
                    <div class="col">Баланс</div>
                    <div class="col"><b>{{user.balance}} балл(ов)</b>, <b>~ {{can_download_files}} файл(ов)</b></div>
                </div>
                <div class="row">
                    <div class="col">Загружено работ</div>
                    <div class="col"><b>{{docs_uploaded}}</b></div>
                </div>
                <div class="row">
                    <div class="col">Сохранено работ</div>
                    <div class="col"><b>{{docs_saved}}</b></div>
                </div>
            </div>

            <div class="btns mt-5">
                <div class="my-5">
                    <div class="block__topup my-3">
                        <h5 class="">Пополнение баланса:</h5>
                        <div class="btns ml-4 my-2">
                            <a href="#" class="btn btn-sm btn-success">Деньгами</a>
                            <a href="{% url 'main:document_upload' %}" class="btn btn-sm btn-primary">Файлами</a>
                            <a href="/faq#topup" class="mr-2"><i class="fa fa-question"></i>Пополнение баланса файлами</a>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <a href="{% url 'users:logout'%}" class="btn btn-danger">Выйти из аккаунта</a>
                    <a href="{% url 'users:change_password' %}" class="btn btn-warning" id="btn-changepass">Сменить пароль</a>
                </div>
            </div>
        </div>

        <!-- Tab files -->

        <div class="tab-pane" id="files" role="tabpanel" aria-labelledby="files-tab">
            <div class="mb-5">
                <h2 class="text-center mb-3 mt-2">Ваши файлы</h2>
                <a href="{% url 'main:document_upload' %}" class="btn btn-primary">Загрузить документ</a> <a href="/faq#topup" class="ml-2"><i class="fa fa-question mr-2"></i>Помощь</a>
            </div>
            {% include 'blocks/documents_list.html' with page_link_after="#files"%}
        </div>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<!-- Remember last tab -->

<script>
    $(document).ready(()=>{
        var pills = $('a[data-toggle="tab"]')

        pills.on('show.bs.tab', function (e) {
            location.hash = $(e.target).attr('href')
        });
        var activeTab = location.hash
        if (activeTab) {
            // console.debug("Active tab:", activeTab)
            tab = $('#pills-tab a[href="' + activeTab + '"]')
            tab.tab('show');
        }
    })
</script>
{% endblock %}