{% extends "layout.html" %}
{% load static i18n %}

{% block title %} Личный кабинет {% endblock %}

{% block head %}
{% endblock %}


{% block body %}
<div class="container my-md-3 py-3 bg-white">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="true">Профиль</a>
            <a class="nav-item nav-link" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab"
                aria-controls="nav-files" aria-selected="false">Мои файлы</a>
        </div>
    </nav>
    <!-- Tab contents -->

    <div class="tab-content" id="nav-tabContent">

        <!-- Tab profile -->
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h2 class="text-center mb-5 mt-2">Профиль "{{user.first_name}}"</h2>

            <div class="stats" style="max-width:400px;">
                <div class="row">
                    <div class="col">Загружено работ</div>
                    <div class="col"><b>0</b></div>
                </div>
                <div class="row">
                    <div class="col">Скачано работ</div>
                    <div class="col"><b>0</b></div>
                </div>
            </div>

            <div class="btns mt-5">
                <a href="{% url 'users:logout'%}" class="btn btn-danger">Выйти из аккаунта</a>
                <a href="{% url 'users:change_password' %}" class="btn btn-warning" id="btn-changepass">Сменить пароль</a>
            </div>
        </div>

        <!-- Tab files -->

        <div class="tab-pane" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
            <h2 class="text-center mb-5 mt-2">Ваши файлы</h2>
        </div>
    </div>
</div>
{% endblock %}