{% extends "layout.html" %}
{% load static i18n  %}

{% block title %} Блог {% endblock %}

{% block extrahead %}
{% endblock %}


{% block body %}
    <div class="container mt-3 py-3 bg-white">
        <h1 class="text-center mb-3">
            Блог
        </h1>
        <div class="text-center my-3">
            {% if tag %}
                <h5 class="text-muted">Поиск по тегу "{{tag}}" <a href="?">&times;</a></h5> 
            {% endif %}
        </div>

        <div class="posts-container mt-5">
            {% include 'blocks/posts.html' %}
        </div>
    </div>
{% endblock %}


{% block extrabody %}
{% endblock %}