<h3>Здравствуйте, {{ user.username }}.</h3>
<p>Вы запросили восстановление пароля к вашей учетной записи на EasySchool.
Из соображений безопасности мы не можем прислать вам прежний пароль, однако вы сами можете придумать новый.
Для этого <a href="http://{{ domain }}{% url 'users:password_reset' uidb64=uid token=token %}">нажмите сюда</a> – и в появившейся форме введите новый пароль. Если же вы не запрашивали восстановление пароля – просто игнорируйте это письмо.</p>
<a href="http://{{ domain }}{% url 'users:password_reset' uidb64=uid token=token %}">Ввести новый пароль</a>