.sidebar{
    background-color: rgba(0,123,255,.25);
    height: 100vh;
    border-right: 3px solid rgb(100,100,100,.25);
    /* padding-left: 30px; */
    padding-right: 0;
    overflow-y: auto;
    max-height: 100vh;
}
.chat-content{
    background-color: #e9ecef;
    height: 100vh;
}
.user-card{
    border: 2px solid rgba(0,0,0,.125);
    /* border-top: 0; */
    padding: 7px 10px;
    min-height: 60px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.10);
    transition: ease .2s;
    cursor: pointer;
    background-color: rgba(0,123,255,.25);
}
.user-card.active{
    background-color: rgba(0,123,255,.5);
    border-color: rgba(0,0,0,.125);
}
.user-card:hover{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,.25);
}
/* .user-card:first-child{
    border-top: 2px solid #f1f1f1;
} */
.user-card .card-title{
    /* text-align: center; */
    margin-bottom: 4px;
    /* font-weight: bold; */
}
.user-card .card-title .username{
    font-weight: bold;
}
.chat-content{
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    box-sizing: border-box;
    padding: 0;
}
.dialog-container{
    overflow: auto;
    max-height: 90vh;
}
.messages-container{
    display: flex;
    flex-direction: column;
    padding: 7px;
}
.message{
    margin-bottom: 1rem;
}
.message .message-content{
    width: fit-content;
    padding: 10px 18px;
}
.message.from-self{
    /* float: right; */
    align-self: flex-end;
}
.message.from-self .message-content{
    background: #007bff61;
}
.message.from-other{
    /* float: left; */
    align-self: flex-start;
}
.message.from-other .message-content{
    background: #ec4b5bc2;
}
.message-author{
    color: purple;
}
.send-message{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 5px;
    background: #f8f9fa;
}
.container-auto{
    width: 100%;
}
.unread-count{
    float: right;
}
@media (min-width: 768px){
    .chat-content{
        left: 0!important;
    }
    .chat-content .btn-back{
        display: none;
    }
}
@media (max-width: 768px){
    /* .hide-sm{
        display: none!important;
    } */
    #app > .row{
        position: relative;
        margin-right: 0;
    }
    .chat-content{
        position: fixed;
        max-width: 100vw;
    }
    .chat-content .btn-back{
        position: fixed;
    }
    .chat-content .btn-back{
        position: absolute;
        top: 0;
    }
    .send-message{
        position: fixed;
    }

}
/* .loading-indicator h5{line-height: 80px;} */