{%if doc.file_type%}<span class="h6 badge badge-primary">{{doc.file_type|default:'doc'|upper}}</span>{%endif%}
{% if doc in request.user.buyed_documents.all %}<span class="h6 badge badge-primary">Сохранено</span>{%endif%}
{% if doc.author == request.user %}<span class="h6 badge badge-success">Ваш файл</span>
    <!-- Approving state -->
    <!-- {% if doc.approved == None %}<span class="h6 badge badge-warning">На модерации</span>
    {% elif doc.approved == True %}<span class="h6 badge badge-success">Проверен модератором</span>
    {% elif doc.approved == False %}<span class="h6 badge badge-danger">Отклонен модератором</span>
    {%endif%} -->
{%endif%}