{% extends "layout.html" %}
{% load static i18n  %}

{% block title %} {{doc.title}} {% endblock %}

{% block extrahead %}
<style>
    #main-content .alert{
        display: inline-block;
    }
</style>
{% endblock %}


{% block body %}
    <div class="container mt-3 py-3 bg-white">
        <!-- Title and info -->
        <h2 class="text-left mb-3">{{doc.title}}</h2>
        <div class="infos">
            <span class="text-muted small info-bottom">Размер: 3 МБ</span>
            <span class="text-muted small info-bottom">Год создания {{doc.created_year}}</span>
            {% if document.document_pages %}
                <span class="text-muted small info-bottom">Страниц {{doc.document_pages}}</span>
            {% endif %}
            <span class="text-muted small info-bottom">Добавлен {{doc.uploaded}}</span>
        </div>

        <!-- Image and description -->
        <div class="mx-auto my-3">
            <img src="//via.placeholder.com/300x400" alt="" class="img-fluid d-block mx-auto">
        </div>

        <div class="text-desc mt-4">
            <p>{{doc.annotation | default:"Нет аннотации!"}}</p>
        </div>

        <!-- Buy -->

        <div class="buy-container">
            {% if not doc.file %}
                <div class="alert alert-danger">
                    <h4 class="alert-heading">Нет файла для загрузки</h4>
                </div>
            {% elif can_buy == None%}
                <div class="alert alert-warning">
                    <h4 class="alert-heading">Войдите в аккаунт для загрузки</h4>
                    <a href="{% url 'users:login' %}?next={{request.path}}#buy" class="btn btn-success mt-3">Войти</a>
                </div>
            {% elif doc in user.buyed_documents.all %}
                <div class="alert alert-success">
                    <h4 class="alert-heading">Вы можете скачать файл</h4>
                    <p>Файл уже был куплен.</p>
                    <a href="{{file_link}}" class="btn btn-success btn-shadow mt-3" download>Скачать</a>
                </div>
            {% else %}
                <div class="alert alert-success" id="buy">
                    <h4 class="alert-heading">
                        Вы можете купить эту работу
                    </h4>
                    <p>Ваш баланс: {{user.balance}}</p>
                    <p>Стоимость работы: {{price}}</p>
                    <div class="btns">
                        <a href="?buy_confirm" class="btn btn-success btn-shadow mt-3">Купить!</a>
                    </div>
                </div>
            {% endif %}
        </div>        
    </div>
{% endblock %}