{% extends "layout.html" %}
{% load static i18n %}

{% block title %} Загрузка файла {% endblock %}

{% block extrahead %}
{% endblock %}


{% block body %}
    <div class="container bg-white mt-3 py-3">
        <h2 class="title text-center mb-5">Загрузка "{{document}}"</h2>
        <p>
            Загрузка начентся автоматически. Если этого не произошло через 10 секунд,
            <a href="{{download_link}}" id="download-link" download>Нажмите здесь</a>
        </p>
        <div class="btns mt-4">
            <a href="{{document.get_absolute_url}}" class="btn btn-primary">Вернуться к документу</a>
            <a href="{% url 'main:index' %}" class="btn btn-primary">На главную</a>
            <a href="{% url 'main:cabinet' %}" class="btn btn-primary">В личный кабинет</a>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <script>
        setTimeout(()=>{
            document.location = $("#download-link").attr("href")
        }, 2000)
    </script>
{% endblock %}